.skills-bg{
    background:#f9fafb;
}


/* CONTAINER */

.skills-container{
    max-width:1100px;
    margin:auto;
}


/* HEADINGS */

.subtitle{
    color:#6b7280;
    margin-top:10px;
    margin-bottom:40px;
}



/* GRID */

.skills-grid{

    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(280px,1fr));
    gap:30px;
}



/* CARD */

.skill-card{

    background:white;
    padding:34px;

    border-radius:18px;

    box-shadow:0 10px 30px rgba(0,0,0,0.05);

    transition:0.3s;
}

.skill-card:hover{
    transform:translateY(-10px);
}



/* ICON ALIGNMENT */

.skill-card h3{
    display:flex;
    align-items:center;
    gap:12px;
}

.skill-card i{
    font-size:26px;
}



/* PROGRESS BAR */

.progress{
    width:100%;
    height:10px;
    background:#e5e7eb;

    border-radius:20px;
    margin:14px 0;
    overflow:hidden;
}

.progress-bar{

    width:0; /* start empty */

    height:100%;
    border-radius:20px;

    background:linear-gradient(90deg,#8b5cf6,#7c3aed);

    transition:1.6s ease;
}



/* WIDTH WHEN ANIMATED */

.sql.animate{ width:95%; }
.powerbi.animate{ width:92%; }
.python.animate{ width:70%; }
.excel.animate{ width:85%; }
.stats.animate{ width:72%; }
.ml.animate{ width:55%; }



/* TEXT */

.skill-card span{
    font-size:12px;
    color:#6b7280;
}
.skill-card i{

    background:#f3f0ff;
    padding:10px;

    border-radius:10px;
}

.nn.animate{
    width:65%;
}
.featured{

    grid-column: span 2;

    background:linear-gradient(135deg,#7c3aed,#9333ea);
    color:white;

    transform:scale(1.04);
}
.neural-center{

    grid-column: 2 / 3; /* MAGIC */

}

